## Data Exploration

From the task. Three raw datasets have been provided in order to create recommender system which are 

 - user_applications
 - previous_job_post 
 - and active_job_post

In [10]:
import pandas as pd
from IPython.display import display

user = pd.read_csv("user_applications.csv")
previous = pd.read_csv("previous_job_post.csv")
active = pd.read_csv("active_job_post.csv")

display(user.head())
display(previous.head())
display(active.head())

   user_id  job_id
0     1951    7662
1     4517   12970
2     4469   12662
3      502   14356
4     1620   23126

,job_id,job_title,role_name,sub_role_name,location,latitude,longitude,salary,company_name
0,0,Warehouse & Distribution Sales,ขาย,พนักงานขาย/Sales/AE,อ.ศรีราชา จ.ชลบุรี,NaN,NaN,ไม่ระบุ,vueoeo
1,1,เจ้าหน้าที่บรรณาธิการหนังสือเรียน กลุ่มสาระสัง...,นักเขียน/บรรณาธิการ/นักแปลภาษา,บรรณาธิการ,กรุงเทพมหานคร(เขตบางซื่อ),NaN,NaN,ตามตกลง,30jfum
2,2,Education Consultant ประจำสาขา เซ็นทรัลแจ้งวัฒนะ,ขาย,ขายอื่นๆ,นนทบุรี(ปากเกร็ด),NaN,NaN,"15,000-16,000",1d36pp
3,3,★★เริ่มงาน 25 ม.ค.นี้ (ฝ่ายขายประจำOffice รับ...,บริการลูกค้า/ลูกค้าสัมพันธ์/Call Center,บริการ/ลูกค้าสัมพันธ์/Call Center อื่นๆ,กรุงเทพมหานคร(ทุกเขต),NaN,NaN,"13,000-50,000",wqalnh
4,4,ผู้จัดการอาคาร (ใกล้ ม.ธรรมศาสตร์ รังสิต),ผู้จัดการ/ผู้อำนวยการ/MD/CEO,ผู้จัดการทั่วไป,อ.คลองหลวง จ.ปทุมธานี,14.064528,100.609091,"28,000 - 33,000",p1he99

,job_id,job_title,role_name,sub_role_name,location,latitude,longitude,salary,company_name
0,25320,พนักงานขับรถรับส่งพนักงาน,คนขับรถ,คนขับรถ อื่นๆ,"กรุงเทพมหานคร(เขตพระโขนง),กรุงเทพมหานคร(เขตสวน...",NaN,NaN,ตามตกลง,83akmq
1,25321,ผู้ประเมินราคางานตกแต่งภายใน,โยธา/สำรวจ/สถาปัตย์/มัณฑนากร/ประเมินราคา,ประเมินราคา,อ.เมืองนนทบุรี จ.นนทบุรี,13.872826,100.53001,"25,000-35,000 ขึ้นอยู่กับประสบการณ์",b57auw
2,25322,นักออกแบบกราฟิก (Graphic design),ศิลปะ/กราฟฟิค/ออกแบบ/ช่างภาพ,Graphic Design/สิ่งพิมพ์,เขตคลองสาน กรุงเทพมหานคร,NaN,NaN,"18,000-25,000 บาท",362uhk
3,25323,พนักงานขับรถส่งสินค้า ประจำศูนย์กระจายสินค้า ส...,คนขับรถ,คนขับรถส่งสินค้า,กรุงเทพมหานคร(เขตคันนายาว),NaN,NaN,"16,000-18,000",yp1i9y
4,25324,พนักงานขายทางโทรศัพท์​ / Telesales,ขาย,พนักงานขายทางโทรศัพท์/Telesales,เขตปทุมวัน กรุงเทพมหานคร,NaN,NaN,"15,000 + คอมมิสชั่น",4s96ty

In [13]:
#Exploration for columns and values

print("-----user application------")
display(user.dtypes)

print("-----previous job post------")
display(previous.dtypes)

print("-----active job post------")
display(active.dtypes)

-----user application------

user_id    int64
job_id     int64
dtype: object

-----previous job post------

job_id             int64
job_title         object
role_name         object
sub_role_name     object
location          object
latitude         float64
longitude        float64
salary            object
company_name      object
dtype: object

-----active job post------

job_id             int64
job_title         object
role_name         object
sub_role_name     object
location          object
latitude         float64
longitude        float64
salary            object
company_name      object
dtype: object

## Data Cleaning and feature selection

From data exploration

## Modeling (KModes clustering)

Everyone may heard about K-mean clustering. It is one of the most famous methods for unsupervised learning, specifically clustring model. However K-mean applies Euclidean distance for the purpose of creating clusters which is not quite effective for categorical data likes these dataset.

Thus, the model should implement K-Modes clustering. This method measures similarity of categorical data and build clusters. The algorithm is useful and its library is provided in Python.

## Gower distance

Gower’s Distance can be used to measure how different two records are. The records may contain combination of logical, categorical, numerical or text data. The distance is always a number between 0 (identical) and 1 (maximally dissimilar). The metrics used for each data type are described below:

- quantitative (interval): range-normalized Manhattan distance
- ordinal: variable is first ranked, then Manhattan distance is used with a special adjustment for ties
- nominal: variables of k categories are first converted into k binary columns and then the Dice coefficient is used